.dropdown#add-review-dropdown-component
  .btn.btn-success.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown'}, aria: { expanded: 'false' } }
    Review
  .dropdown-menu.dropdown-menu-right
    - @my_open_reviews.each_with_index do |review, index|
      = button_tag(type: 'button', class: 'dropdown-item', data: { toggle: 'collapse', target: '#review_form_collapse', review: review.id },  aria: { expanded: 'false', controls: 'review_form_collapse' }) do
        - case
        - when review.by_package
          %i.fa.fa-archive
          #{review.by_project}/#{review.by_package}
        - when review.by_user
          %i.fa.fa-user
          #{review.by_user}
        - when review.by_group
          %i.fa.fa-users
          #{review.by_group}
        - when review.by_project
          %i.fa.fa-cubes
          #{review.by_project}
